# Editor configuration, see http://editorconfig.org
root = true

[*.sol]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
indent_size=4
max_line_length=200
spaces_around_operators=true
indent_brace_style=K&R
end_of_line=crlf

[*.csproj]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
max_line_length=200
indent_size=2
end_of_line=crlf

[*.xml]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
max_line_length=200
indent_size=2
end_of_line=crlf

[*.sql]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
max_line_length=200
indent_size=2
end_of_line=crlf

[*.ruleset]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
indent_size=4
max_line_length = off

[*.yml]
charset=utf-8
trim_trailing_whitespace=true
indent_style=space
indent_size=2
insert_final_newline=true

[*.toml]
indent_size=4
insert_final_newline=false

[*.scss]
indent_size=2

[*.cs]
charset=utf-8
max_line_length=200
spaces_around_operators=true
indent_brace_style=Allman
trim_trailing_whitespace=True
insert_final_newline=false
indent_style=space
indent_size=4
end_of_line=crlf

# Microsoft .NET properties
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_prefer_braces=true:warning
csharp_style_var_elsewhere=false:error
csharp_style_var_for_built_in_types=false:error
csharp_style_var_when_type_is_apparent=false:error
dotnet_naming_rule.private_constants_rule.severity=error
dotnet_naming_rule.private_constants_rule.style=all_upper_style
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_style.all_upper_style.capitalization=all_upper
dotnet_naming_style.all_upper_style.word_separator=_
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:error
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:error
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:error
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=true:error
dotnet_style_qualification_for_field=true:error
dotnet_style_qualification_for_method=true:error
dotnet_style_qualification_for_property=true:error
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# ReSharper properties
resharper_align_linq_query=true
resharper_align_multiline_argument=true
resharper_align_multiline_array_and_object_initializer=true
resharper_align_multiline_calls_chain=true
resharper_align_multiline_extends_list=true
resharper_align_multiline_parameter=true
resharper_align_multiple_declaration=true
resharper_align_multline_type_parameter_constrains=true
resharper_align_multline_type_parameter_list=true
resharper_apply_auto_detected_rules=false
resharper_arguments_anonymous_function=named
resharper_arguments_literal=named
resharper_arguments_named=named
resharper_arguments_skip_single=true
resharper_arguments_string_literal=named
resharper_autodetect_indent_settings=true
resharper_blank_lines_after_control_transfer_statements=1
resharper_blank_lines_around_single_line_auto_property=1
resharper_blank_lines_around_single_line_local_method=1
resharper_blank_lines_around_single_line_property=1
resharper_blank_lines_before_block_statements=1
resharper_blank_lines_before_control_transfer_statements=1
resharper_blank_lines_before_single_line_comment=1
resharper_braces_redundant=true
resharper_can_use_global_alias=false
resharper_csharp_blank_lines_around_single_line_invocable=1
resharper_csharp_keep_blank_lines_in_code=1
resharper_csharp_keep_blank_lines_in_declarations=1
resharper_csharp_naming_rule.enum_member=AA_BB
resharper_csharp_wrap_arguments_style=chop_if_long
resharper_csharp_wrap_extends_list_style=chop_if_long
resharper_csharp_wrap_parameters_style=chop_if_long
resharper_enforce_line_ending_style=true
resharper_indent_anonymous_method_block=true
resharper_keep_existing_embedded_arrangement=false
resharper_keep_existing_expr_member_arrangement=false
resharper_keep_existing_initializer_arrangement=false
resharper_keep_existing_linebreaks=false
resharper_place_attribute_on_same_line=false
resharper_place_constructor_initializer_on_same_line=false
resharper_place_simple_case_statement_on_same_line=true
resharper_place_simple_embedded_statement_on_same_line=true
resharper_place_type_constraints_on_same_line=false
resharper_use_indent_from_vs=false
resharper_wrap_array_initializer_style=chop_if_long
resharper_wrap_before_first_type_parameter_constraint=true
resharper_wrap_chained_method_calls=chop_always
resharper_wrap_lines=true

# ReSharper inspection severities
resharper_access_to_disposed_closure_highlighting=error
resharper_access_to_static_member_via_derived_type_highlighting=error
resharper_arrange_accessor_owner_body_highlighting=warning
resharper_arrange_constructor_or_destructor_body_highlighting=warning
resharper_arrange_local_function_body_highlighting=warning
resharper_arrange_method_or_operator_body_highlighting=warning
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_arrange_var_keywords_in_deconstructing_declaration_highlighting=warning
resharper_assignment_is_fully_discarded_highlighting=error
resharper_async_iterator_invocation_without_await_foreach_highlighting=error
resharper_base_object_equals_is_object_equals_highlighting=error
resharper_base_object_get_hash_code_call_in_get_hash_code_highlighting=error
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_check_namespace_highlighting=error
resharper_class_can_be_sealed_global_highlighting=warning
resharper_class_can_be_sealed_local_highlighting=error
resharper_class_never_instantiated_global_highlighting=warning
resharper_class_never_instantiated_local_highlighting=warning
resharper_compare_non_constrained_generic_with_null_highlighting=warning
resharper_conditional_ternary_equal_branch_highlighting=error
resharper_condition_is_always_true_or_false_highlighting=error
resharper_constant_conditional_access_qualifier_highlighting=error
resharper_constant_null_coalescing_condition_highlighting=error
resharper_constructor_initializer_loop_highlighting=error
resharper_convert_if_do_to_while_highlighting=error
resharper_convert_if_to_or_expression_highlighting=error
resharper_convert_to_constant_global_highlighting=warning
resharper_convert_to_constant_local_highlighting=warning
resharper_convert_to_using_declaration_highlighting=none
resharper_c_sharp_warnings_cs0162_highlighting=error
resharper_c_sharp_warnings_cs0612_highlighting=error
resharper_c_sharp_warnings_cs0618_highlighting=error
resharper_c_sharp_warnings_cs0659_highlighting=error
resharper_c_sharp_warnings_cs0660_cs0661_highlighting=error
resharper_c_sharp_warnings_cs1998_highlighting=error
resharper_c_sharp_warnings_cs4014_highlighting=error
resharper_c_sharp_warnings_cs8618_highlighting=error
resharper_double_negation_operator_highlighting=error
resharper_empty_constructor_highlighting=error
resharper_empty_embedded_statement_highlighting=error
resharper_empty_namespace_highlighting=error
resharper_expression_is_always_null_highlighting=error
resharper_field_can_be_made_read_only_global_highlighting=warning
resharper_field_can_be_made_read_only_local_highlighting=warning
resharper_heuristic_unreachable_code_highlighting=error
resharper_inconsistent_naming_highlighting=error
resharper_indexing_by_invalid_range_highlighting=error
resharper_inheritdoc_consider_usage_highlighting=hint
resharper_inline_out_variable_declaration_highlighting=error
resharper_member_can_be_made_static_global_highlighting=warning
resharper_member_can_be_made_static_local_highlighting=warning
resharper_merge_cast_with_type_check_highlighting=error
resharper_method_supports_cancellation_highlighting=warning
resharper_multiple_order_by_highlighting=error
resharper_negative_equality_expression_highlighting=error
resharper_negative_index_highlighting=error
resharper_not_accessed_field_compiler_highlighting=error
resharper_not_accessed_field_local_highlighting=error
resharper_not_accessed_variable_compiler_highlighting=error
resharper_not_accessed_variable_highlighting=error
resharper_not_resolved_in_text_highlighting=error
resharper_optional_parameter_ref_out_highlighting=error
resharper_possible_invalid_cast_exception_highlighting=error
resharper_possible_invalid_cast_exception_in_foreach_loop_highlighting=error
resharper_possible_invalid_operation_exception_highlighting=error
resharper_possible_multiple_enumeration_highlighting=error
resharper_possible_null_reference_exception_highlighting=error
resharper_redundant_array_creation_expression_highlighting=error
resharper_redundant_assignment_highlighting=error
resharper_redundant_base_qualifier_highlighting=error
resharper_redundant_cast_0_highlighting=error
resharper_redundant_cast_highlighting=error
resharper_redundant_empty_finally_block_highlighting=error
resharper_redundant_enumerable_cast_call_highlighting=error
resharper_redundant_immediate_delegate_invocation_highlighting=warning
resharper_redundant_string_format_call_highlighting=error
resharper_redundant_string_to_char_array_call_highlighting=error
resharper_redundant_to_string_call_highlighting=error
resharper_redundant_using_directive_highlighting=error
resharper_reference_equals_with_value_type_highlighting=error
resharper_remove_to_list_1_highlighting=warning
resharper_remove_to_list_2_highlighting=warning
resharper_replace_with_first_or_default_1_highlighting=error
resharper_replace_with_first_or_default_2_highlighting=error
resharper_replace_with_first_or_default_3_highlighting=error
resharper_replace_with_first_or_default_4_highlighting=error
resharper_replace_with_last_or_default_1_highlighting=error
resharper_replace_with_last_or_default_2_highlighting=error
resharper_replace_with_last_or_default_3_highlighting=error
resharper_replace_with_last_or_default_4_highlighting=error
resharper_replace_with_of_type_1_highlighting=error
resharper_replace_with_of_type_2_highlighting=error
resharper_replace_with_of_type_3_highlighting=error
resharper_replace_with_of_type_any_1_highlighting=error
resharper_replace_with_of_type_any_2_highlighting=error
resharper_replace_with_of_type_count_1_highlighting=error
resharper_replace_with_of_type_count_2_highlighting=error
resharper_replace_with_of_type_first_1_highlighting=error
resharper_replace_with_of_type_first_2_highlighting=error
resharper_replace_with_of_type_first_or_default_1_highlighting=error
resharper_replace_with_of_type_first_or_default_2_highlighting=error
resharper_replace_with_of_type_last_1_highlighting=error
resharper_replace_with_of_type_last_2_highlighting=error
resharper_replace_with_of_type_last_or_default_1_highlighting=error
resharper_replace_with_of_type_last_or_default_2_highlighting=error
resharper_replace_with_of_type_long_count_highlighting=error
resharper_replace_with_of_type_single_1_highlighting=error
resharper_replace_with_of_type_single_2_highlighting=error
resharper_replace_with_of_type_single_or_default_1_highlighting=error
resharper_replace_with_of_type_single_or_default_2_highlighting=error
resharper_replace_with_of_type_where_highlighting=error
resharper_replace_with_simple_assignment_false_highlighting=error
resharper_replace_with_simple_assignment_true_highlighting=error
resharper_replace_with_single_assignment_false_highlighting=error
resharper_replace_with_single_assignment_true_highlighting=error
resharper_replace_with_single_call_to_any_highlighting=error
resharper_replace_with_single_call_to_count_highlighting=error
resharper_replace_with_single_call_to_first_highlighting=error
resharper_replace_with_single_call_to_first_or_default_highlighting=error
resharper_replace_with_single_call_to_last_highlighting=error
resharper_replace_with_single_call_to_last_or_default_highlighting=error
resharper_replace_with_single_call_to_single_highlighting=error
resharper_replace_with_single_call_to_single_or_default_highlighting=error
resharper_replace_with_single_or_default_1_highlighting=error
resharper_replace_with_single_or_default_2_highlighting=error
resharper_replace_with_single_or_default_3_highlighting=error
resharper_replace_with_single_or_default_4_highlighting=error
resharper_replace_with_string_is_null_or_empty_highlighting=error
resharper_setting_not_found_in_configuration_highlighting=none
resharper_simplify_linq_expression_highlighting=error
resharper_specify_a_culture_in_string_conversion_explicitly_highlighting=error
resharper_specify_string_comparison_highlighting=error
resharper_string_compare_is_culture_specific_1_highlighting=error
resharper_string_compare_is_culture_specific_2_highlighting=error
resharper_string_compare_is_culture_specific_3_highlighting=error
resharper_string_compare_is_culture_specific_4_highlighting=error
resharper_string_compare_is_culture_specific_5_highlighting=error
resharper_string_compare_is_culture_specific_6_highlighting=error
resharper_string_compare_to_is_culture_specific_highlighting=error
resharper_string_ends_with_is_culture_specific_highlighting=error
resharper_string_index_of_is_culture_specific_1_highlighting=error
resharper_string_index_of_is_culture_specific_2_highlighting=error
resharper_string_index_of_is_culture_specific_3_highlighting=error
resharper_string_last_index_of_is_culture_specific_1_highlighting=error
resharper_string_last_index_of_is_culture_specific_2_highlighting=error
resharper_string_last_index_of_is_culture_specific_3_highlighting=error
resharper_string_literal_as_interpolation_argument_highlighting=warning
resharper_string_starts_with_is_culture_specific_highlighting=error
resharper_tail_recursive_call_highlighting=warning
resharper_thread_static_at_instance_field_highlighting=error
resharper_unassigned_field_compiler_highlighting=error
resharper_unassigned_field_global_highlighting=error
resharper_unassigned_field_local_highlighting=error
resharper_unassigned_readonly_field_compiler_highlighting=error
resharper_unassigned_readonly_field_highlighting=error
resharper_unreachable_code_highlighting=error
resharper_unused_field_compiler_highlighting=error
resharper_unused_local_function_compiler_highlighting=error
resharper_unused_local_function_highlighting=error
resharper_unused_member_in_super_global_highlighting=warning
resharper_unused_parameter_local_highlighting=error
resharper_unused_variable_compiler_highlighting=error
resharper_unused_variable_highlighting=error
resharper_use_cancellation_token_for_i_async_enumerable_highlighting=warning
resharper_use_collection_count_property_highlighting=error
resharper_use_is_operator_1_highlighting=error
resharper_use_is_operator_2_highlighting=error
resharper_use_method_any_0_highlighting=error
resharper_use_method_any_1_highlighting=error
resharper_use_method_any_2_highlighting=error
resharper_use_method_any_3_highlighting=error
resharper_use_method_any_4_highlighting=error
resharper_use_switch_case_pattern_variable_highlighting=error
resharper_web_config_module_not_resolved_highlighting=warning
resharper_web_config_type_not_resolved_highlighting=warning
resharper_web_config_wrong_module_highlighting=warning
resharper_xunit_xunit_test_with_console_output_highlighting=error

dotnet_code_quality.PH2092.max_operators=10


[*.{appxmanifest,asax,ascx,aspx,build,cshtml,dtd,fs,fsi,fsscript,fsx,master,ml,mli,nuspec,razor,resw,resx,skin,vb,xaml,xamlx,xoml,xsd}]
indent_style=space
indent_size=4
tab_width=4
