###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################

#note left to system settings
#*	text=auto

###############################################################################
# Scripts
###############################################################################

# We dont want CRLF for bash shell scripts
*.sh    text eol=lf

###############################################################################
# DFINITY/Motoko
###############################################################################

*.mo    text eol=lf

###############################################################################
# C#
###############################################################################

*.cs    text=auto diff=csharp
