name: Code Analysis

on:
  pull_request:
    branches:
      - master

jobs:

  does-not-contain-secrets:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4
      with:
        fetch-depth: 0
    - uses: zricethezav/gitleaks-action@v1.4.0

  has-no-merge-conflicts:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4
      with:
        fetch-depth: 0
    - uses: olivernybroe/action-conflict-finder@v2.0


  has-no-file-or-folder-case-sensitivity-issues:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4
      with:
        fetch-depth: 0
    - uses: credfeto/action-case-checker@v1.1
