name: PR Lint
on:
  pull_request:
    types: [opened, edited, synchronize, reopened]
    branches:
      - master

jobs:
  include-JIRA-ticket:
    runs-on: ubuntu-latest
    steps:
    - if: ${{ !startsWith(github.head_ref, 'release/') && !startsWith(github.head_ref, 'hotfix/') }}
      uses: seferov/pr-lint-action@v1.1.2
      with:
        title-regex: '^\[FF\-\d*?\](\ )'
        title-regex-flags: 'g'
        error-message: 'Add Jira Ticket ID to your title'

  include-changelog-entry:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.3
        with:
          fetch-depth: 0
      - if: ${{ github.actor != 'dependabot-preview[bot]' }}
        uses: Zomzog/changelog-checker@v1.1.0
        with:
          fileName: CHANGELOG.md
          noChangelogLabel: Changelog Not Required
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
