name: PR Update
on:
  pull_request:
    types:
      - opened
      - edited
      - ready_for_review
      - reopened
    branches:
      - master

jobs:
  add-pr-label:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v3
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        sync-labels: true

  assign-to-creator:
    runs-on: ubuntu-latest
    steps:
    - uses: thomaseizinger/assign-pr-creator-action@v1.0.0
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
